.profile-details {
    margin: 50px 0;
}


.profile-name {
    font-size: 28px;
    font-style: normal;
    font-weight: 350;
}

.full-name {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}